<!DOCTYPE html>
<html lang="fr">
  
  <head>
    <title>Transcendence</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script
      async
      src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"
    ></script>
    
    <style>
      .background-green {
        background-color: rgb(170, 179, 150);
      }
      .background-light {
        background-color: rgb(247, 238, 211);
      }
      .background-brown {
        background-color: rgb(103, 70, 54);
      }
      .text-brown {
        color: rbg(103, 70, 54);
      }
      .container-game {
          height: 70vh;
          display: flex;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
      }
  </style>

    <!--<script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three@0.150.1/build/three.module.js",
          "three/addons/": "https://unpkg.com/three@0.150.1/examples/jsm/"
        }
      }
    </script>
    
    <script src="main.js" type="module" defer></script>-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  
  </head>

    <!--Header. Name of the project. Always full width, never hidden-->
    <div class="container-fluid">
      <div class="row p-3 text-center background-green text-brown">
        <h1>Transcendence</h1>
      </div>
    <!--Button and stats. Right under the header. If too small, hover button over header. Start and end until too big.-->
    <div class="container-sm">
      <div class="row align-items-baseline background-light">
        <div class="col mb-2 text-brown text-start">Statistiques</div>
        <div class="col text-end">
          <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#loginModal">Connexion</button>
          <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#registerModal">Inscription</button>          
        </div>
      </div>
    </div>
    
    <!--Login form-->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content background-green">
          <!--Header-->
          <div class="modal-header background-green">
            <div class="modal-title text-center" id="loginModalTitle">Connexion</div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <!--Body-->
          <div class="modal-body background-light">
            <form method="post" action="{% url 'login' %}"> <!--DJANGO-->
              {% csrf_token %}
              <div class="mb-3">
                <label for="loginEmail" class="form-label">Adresse e-mail</label>
                <input type="email" class="form-control" id="loginEmail" aria-describedby="emailInfo">
                <div id="emailInfo" class="form-text">Votre adresse e-mail ne sera utilisée que pour vous identifier.</div>
              </div>
              <div class="mb-3">
                <label for="loginPassword" class="form-label">Entrez votre mot de passe</label>
                <input type="password" class="form-control" id="loginPassword">
              </div>
            </form>
          </div>
          <!--Footer-->
          <footer class="modal-footer justify-content-center">
            <button type="submit" class="btn btn-success">Se connecter</button>
          </div>
        </div>
      </div>
    </div>

    <!--Register form-->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content background-green">
          <!--Header-->
          <div class="modal-header background-green">
            <div class="modal-title text-center" id="registerModalTitle">Inscription</div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <!--Body-->
          <div class="modal-body background-light">
            <form method="post" action="{% url 'login' %}"> <!--DJANGO-->
              {% csrf_token %}
              <div class="mb-3">
                <label for="loginEmail" class="form-label">Adresse e-mail</label>
                <input type="email" class="form-control" id="loginEmail" aria-describedby="emailInfo">
                <div id="emailInfo" class="form-text">Votre adresse e-mail ne sera utilisée que pour vous identifier.</div>
              </div>
              <div class="mb-3">
                <label for="loginPassword" class="form-label">Entrez votre mot de passe</label>
                <input type="password" class="form-control" id="loginPassword">
              </div>
            </form>
          </div>
          <!--Footer-->
          <footer class="modal-footer justify-content-center">
            <button type="submit" class="btn btn-success">S'inscrire</button>
          </div>
        </div>
      </div>
    </div>
      <!--Game. Resizes when possible. Same as button and stats when too big (but remains square). When too small, shows "expand to play"-->
    <!--Must be centered horizontally on the page. It must be a square stretching from the header to the leaderboard.It should have some margins.--> 
    <div class="container-sm background-brown position-relative">
      <div class="container-game"></div>
    </div>
    
    <!--Game stats (Leaderboard). Same as button and start when too big. Disapears when too small (When game cannot be displayed.)
    Needs to be at the bottom of the page-->
    <div class="container-sm">This is gonna be the leaderboard !</div>
  </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
